<html ng-app>
	<head>
		<title>... with Services</title>
		<script src="../angular.min.js"></script>
		<script src="./AlbumController.js"></script>
	</head>
	<body>
		<h2>Services</h2>
		
		<form ng-controller="ServicesController">
			Name: <input ng-model="album.Name"/><br/>
			Artist: <input ng-model="album.Artist" /><br/>
			Year: <input ng-model="album.Year" /><br/>
			<button ng-click="retrieve(1)">Get</button>
			<button ng-click="save()">Add Me</button>
		</form>
	</body>
</html>