<html ng-app="myApp">
	<head>
		<title>Music Store</title>
		<script src="../angular.min.js"></script>
		<script src="../angular-resource.min.js"></script>
		<script src="./app.js"></script>
		<script src="./AlbumService.js"></script>
		<script src="./AlbumManagmentController.js"></script>
		<link rel="stylesheet" type="text/css" href="./index.css">
	</head>
	<body ng-controller="AlbumManagmentController">
		<table>
			<thead>
				<tr>
					<th>Names</th>
					<th>Artist</th>
					<th>Year</th>					
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="album in albums">
					<td>{{album.Name}}</td>
					<td>{{album.Artist}}</td>
					<td>{{album.Year}}</td>
					<td><button ng-click="getAlbum(album.Id)">Get Album Detail</button></td>
				</tr>
			</tbody>
		</table>
		<p></p>
		<!--<div ng-show="currentUser">-->
		<div>
			Name: <input ng-model="currentAlbum.Name"/><br>
			Artist: <input ng-model="currentAlbum.Artist"/><br>
			Year: <input ng-model="currentAlbum.Year"/>
		</div>
	</body>
</html>